<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE itcast.mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-itcast.mapper.dtd">

<itcast.mapper namespace="userMapper" >

    <select id="findAll" resultType="User" parameterType="java.lang.String">
        select * from user where username=#{name}
    </select>
    
    <insert id="addUser" parameterType="User">
        <selectKey keyColumn="id" keyProperty="id" resultType="int" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
        insert into user values(null,#{username},#{password},null)
    </insert>
    
    <delete id="delUser" parameterType="java.lang.Integer">
        delete from user where id=#{id}
    </delete>

    <update id="updateUser" parameterType="User">
        update user set username=#{username},password=#{password} where id=#{id}
    </update>
</itcast.mapper>