<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE itcast.mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-itcast.mapper.dtd">
<itcast.mapper namespace="itcast.dao.UserMapper">

    <!--sql语句抽取-->
    <sql id="selectUser">select * from user</sql>

    <select id="findAll" resultType="user">
        <include refid="selectUser"/>
    </select>
    
    <select id="findById" resultType="user" parameterType="int">
        select * from user where id=#{userId}
    </select>

    <select id="findByCondition" parameterType="user" resultType="user">
        <include refid="selectUser"/>
        <where>
            <if test="username!=null">
                and username = #{username}
            </if>
            <if test="password!=null">
                and password = #{password}
            </if>
        </where>
    </select>

    <select id="findByIds" resultType="user" parameterType="list">
        <include refid="selectUser"/>
        <where>
            <foreach collection="list" open="id in(" close=")" item="id" separator=",">
                #{id}
            </foreach>
        </where>
    </select>



    <insert id="save" parameterType="user">
        insert into user values(#{id},#{username},#{password},#{birthday})
    </insert>

</itcast.mapper>
